body {
    background-image: radial-gradient(#d6ccc2 8%, transparent 8%),
     radial-gradient(#d6ccc2 8%, transparent 8%);
  background-color: #e6d7c7;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  height: 200px;
  width: 100%;
  min-height: 100%
}

html {
    position: relative;
    min-height: 100%;
  }
  main {
    margin: 80px 0;
  }
  .block {
    background-color: #3e5965;
    padding: 30px;
    margin-bottom: 30px;
    font-style: #e6d7c7 !important;
  }
  .block-header {
    color: #bcac9b;
    font-family: 'Clicker Script', cursive;
    font-size: 4em;
  }
  .block-contact {
    color: #bcac9b;
    font-family: 'Clicker Script', cursive;
    font-size: 3em;
  }
  .photo {
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;
  }
  .navbar {
  background-color: #bcac9b; 
  border: none;
}
@media only screen and (max-width: 767px) {
  .navbar {
    background-color: #4aaaa5;
  }
}
.my-navbar {
    background: #db9d47 !important;
    
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #e6d7c7
}

.portfolio-block {
    background-color: #3e5965;
    padding: 30px;
    margin-bottom: 30px;
}


.sticky-footer {
    width: 100%;
    background-color:#bcac9b;
    color: white;
    text-align: center;
}

.fa {
    color: #d6ccc2
}
.fa:hover{
    color: #3a3042;
   }

  .resume-window {
    display: block;
    
  }